body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161616;
    color: #fff;
}

header {
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 1000;
    color: #fff;
    /* padding: 20px; */
    padding-top: 0.7%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1.4%;
    text-align: center;
    height: 4%;
}

.header-content {
    
    display: flex;
    align-items: center;
}

header h1 {
    /*text-align: center;*/
    margin: 0;
    font-family: 'Berkshire Swash', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28pt;
}

h2 {
    margin-bottom: 2%;
}

h3 {
    font-family: 'Berkshire Swash', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28pt;
    margin-top: 20%;
}

.default-header {
    font-family: 'Berkshire Swash', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28pt;
    margin-top: 20%;
}

.special-header {
    font-family: 'Berkshire Swash', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28pt;
    
}

p {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.navbar {
    margin-left: 20px; /* Add margin to separate from h1 */
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*.nav-links li:not(:last-child) a {}*/

.nav-links li {
    display: inline;
    position: relative; /* Position the pseudo-element relative to the list item */
}

.nav-links li:not(:last-child)::after {
    content: '';
    position: absolute; /* Position the vertical line */
    top: 50%; /* Align the line vertically */
    right: 8%; /* Adjust the distance from the right edge of the list item */
    height: 20px; /* Height of the vertical line */
    width: 1px; /* Width of the vertical line */
    background-color: rgba(255, 255, 255, 0.5); /* Color and opacity of the line */
    transform: translateY(-50%); /* Center the line vertically */
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px; /* Add margin between links */
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

.section {
    padding: 20px;
    text-align: center;
    padding-top: 90px;
}

.nav-links li a:hover {
    color: #FFD700; /* Change color on hover */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.project {
    margin-bottom: 40px;
}

.project h3 {
    margin-top: 0;
}

.image-gallery,
.image-gallery2 {
    
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    justify-content: center;
}

.image-gallery img,
.image-gallery2 img {
    /*max-width: calc(70% - 20px); /* Set maximum width for each image */
    max-width: 20%;
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px 20px; /* Add margin between images and below the last image */
}


.gallery-preview {
    position: relative; /* Set the container as a reference for absolute positioning */
}

.preview-image {
    /*max-width: calc(70% - 20px); /* Set maximum width for each image */
    max-width: 450px;
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px 20px; /* Add margin between images and below the last image */
}

.preview-image2 {
    /*max-width: calc(70% - 20px); /* Set maximum width for each image */
    max-width: 250px;
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px 20px; /* Add margin between images and below the last image */
}

.feather-plus-circle,
.feather-minus-circle {
    position: absolute; /* Position the icons relative to the container */
    top: 50%; /* Adjust the vertical position */
    left: 80%;
     /* Adjust the horizontal position */
     transform: translate(-50%, -50%); /* Center vertically */
    cursor: pointer; /* Add cursor pointer for clickable effect */
}

.toggle-text {
    position: absolute;
    top: 38%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.feather {
    display: block;
    margin: 0 auto;
}

.instagram-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.link-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link-container a:hover {
    background-color: #555;
}

.pdf-container {
    align-items: center; /* Center vertically */
}

.pdf-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pdf-container a:hover {
    background-color: #555;
}

/*@media screen and (max-width: 768px) {
    .image-gallery img {
        max-width: calc(50% - 20px); /* Set maximum width for smaller screens 
    }
}*/
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }
}



/* stylesAlt.css */

#ic-chip-background {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ic-chip {
    position: relative;
    top: 10px;
    width: 88%; /* Width of the chip area */
    height: 86%; /* Height of the chip area */
    background-color: black;
    border: 5px solid #333; /* Border to simulate the chip body */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.pin {
    position: absolute;
    z-index: 1000;
    width: 20px;
    height: 10px;
    background-color: gray;
    
}

.pin.left, .pin.right {
    top: 0;
}

.pin.left {
    left: -24px; /* Move outside the chip */
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.7);
}

.pin.right {
    right: -24px; /* Move outside the chip */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.pin::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: gray;
}

/* Additional styling for the chip */
.pin.left:nth-child(even), .pin.right:nth-child(even) {
    background-color: rgb(130, 130, 130);
}

.pin.left:nth-child(odd), .pin.right:nth-child(odd) {
    background-color: rgb(148, 148, 148);
}

.trace {
    position: absolute;
    height: 2px;
    /* width: 12px; */
    background-color: rgba(211, 211, 211, 0.1);
    top: 50%; /* Vertically center the trace within the pin container */
    transform: translateY(-190%); /* Center the trace vertically */
}

.trace.left {
    right: 0px;
}

.trace.right {
    left: 0px;
}

.trace-container {
    position: absolute;
    top: 9.5%; /* Adjust this value to move traces down */
    width: 100%;
    height: 100%;
}

.pin-container {
    position: absolute;
    top: 1%; /* Adjust this value to move pins down */
    width: 100%;
    height: 100%;
}


/* Continue for other right pins */

/* Add more styling as needed */
